<div class="container text-center">
    <ul  class="subnav-content">
        <li><a title="Twitter" href="https://twitter.com/?lang=it" target="_blank"><i class="fa-brands fa-twitter fa-beat-fade" style="color: #025af2;"></i></a></li>
        <li><a title="FB" href="https://it-it.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f fa-beat-fade" style="color: #1056d1;"></i></a></li>
        <li><a title="IG" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-beat-fade" style="color: #c35322;"></i></a></li>
        <li><a title="YT" href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube fa-beat-fade" style="color: #eb460f;"></i></a></li>
    </ul>
    <p>© 2023 Giovanni Manichetti</p>
</div>

