a{text-decoration: none;}
ul{list-style: none;}

/* Header */
.header{background-color: #00ffff;}
.low{height: 10vw;}
.high{height: 30vw;}

/* Logo */
.logo
{
  width: 20%;
  margin: 1%;
  color: #fff;
}
.logo img{width: 100%;}
.login
{
  width: 20%;
  text-align: center;
}
.login img{width: 20%;}
.login span{display: block;}
/* Nav menu */
.nav
{
  width: 75%;
  margin-top: 1%;
  overflow: hidden;
  max-height: 0;
}
.menu li{background: #f7d100;}
.menu a{padding: 1%;}

.arrow 
{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 5% 5%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.submenu:checked ~ .arrow
{
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.home-link{width: 80%;}
.menu{width: 90%;}

.hamburger-div{width: 55%;}

.hamb
{
  cursor: pointer;
  float: right;
  padding: 7% 7%;
}/* Style label tag */

.hamb-line 
{
  background: #000;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */

.hamb-line::before,
.hamb-line::after
{
  background: #000;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.hamb-line::before{top: 5px;}
.hamb-line::after{top: -5px;}

.side-menu, .submenu {display: none;} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{max-height: 100%;}
.side-menu:checked ~ .hamb .hamb-line {background: transparent;}
.side-menu:checked ~ .hamb .hamb-line::before 
{
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after 
{
  transform: rotate(45deg);
  top:0;
}

/* ----------- */

/* Sub nav */
.subnav-content 
{
  width: 100%;
  z-index: 1;
  padding: 20px 0 ;
  display: none;
}
.subnav-content a 
{
  text-decoration: none;
  padding: 0;
  /* margin: 10px 0; */
  text-align: center;
}
.submenu:checked ~ .subnav-content {display: flex;}
.subnav-content li
  {
    width: 100%;
    min-height: 1vw;
  }

/* Responsiveness */
@media (min-width: 768px) 
{
  .header{height: 14vw;}
  .menu
  {
    width: 100%;
    padding: 0;
  }
  /* .subnav a{width: 100%;} */
  /* Sub nav */
  .subnav-content {display: none;}
  
  .nav
  {
      width: 110%;
      max-height: none;
      text-align: center;
      margin-top: 2%;
  }
  .menu li
  {
    float: left;
    width: calc(100%/4);
    min-height: 9vw;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .subnav-content li
  {
    width: 100%;
    min-height: 1vw;
  }
  .arrow{
    padding: 4%;
    display: none;
  }
  .subnav:hover .subnav-content {display: flex;}

  .hamb{display: none;}
}/* END @media */