<!-- Navigation bar -->
<header class="header">
  <!-- Logo -->
  <div class="logo fl">
    <a href="#" ><img src="../../assets/img/logo-tipo.png" alt=""></a>
  </div>
  
  <div class="hamburger-div fl">
    <!-- Hamburger icon -->
    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="hamb" for="side-menu">
      <span class="hamb-line"></span>
    </label>
  <!-- Menu -->
  <nav class="nav">
      <ul class="menu">
        <li class="subnav" id="home"><a class="home-link fl" title="HOME/CATALOGO" href="LabTvIndex.html">HOME / CATALOGO</a>
          <input class="submenu" type="checkbox" id="submenu-home">
          <label class="arrow fr" for="submenu-home"></label>         
          <ul  class="subnav-content">
              <li><a title="SERIE TV" href="SerieTv.html">SERIE TV</a></li>
              <li><a title="FILM" href="Film.html">FILM</a></li>
              <li><a title="I Miei Preferiti" href="Favorites.html">I Miei Preferiti</a></li>
          </ul>
        </li>
        <li><a href="#">Login / Registrazione</a></li>
        <li class="subnav" ><a class="home-link fl" title="HOME/CATALOGO" href="LabTvIndex.html">Contatti</a>
          <input class="submenu" type="checkbox" id="submenu-contact" >
          <label class="arrow fr" for="submenu-contact"></label>         
          <ul  class="subnav-content">
              <li><a title="SERIE TV" href="SerieTv.html">SERIE TV</a></li>
              <li><a title="FILM" href="Film.html">FILM</a></li>
              <li><a title="I Miei Preferiti" href="Favorites.html">I Miei Preferiti</a></li>
          </ul>
        </li>
        <li><a href="#">Ricerca</a> </li>
      </ul>
  </nav>

  </div>


  <div class="login fr">
    <a href="#" ><img src="../../assets/img/MyAccount.png" alt=""></a>
    <span>MyAccount</span>
  </div>
  
</header>


<!-- Home / Catalogo
• Login / Registrazione
• Ricerca
• Contatti
• Icone social con link a Facebook, Instagram, Twitter, Youtube -->