<div class="container text-center m-3">
    <p *ngIf="isLoginVisible">Non Sei ancora Registrato? <span (click)="onReg()">Registrati Ora</span> </p>
    <p *ngIf="isRegVisible">Ritorna alla pagina di <span (click)="onLogin()">LogIn</span> </p>
</div>

<div *ngIf="isLoggedin" class="container text-center m-3 min-height">
    <h4 class="btn btn-primary" (click)="onLogout()">LogOut</h4>
</div>>

<div *ngIf="!didTheDataArrive" class="loader"></div>

<div *ngIf="errorMsg!=''" class="container text-center m-3">
    <h3 class="text-danger errMsg"> {{errorMsg}} </h3>
</div>

<app-login-form 
    *ngIf="isLoginVisible"
    [loginUser]="userLogin"
    (transferData)="login($event)"
></app-login-form>

<app-register-form 
    *ngIf="isRegVisible"
    [regUser]="userReg"
    (transferData)="registerUser($event)"
></app-register-form>