<div *ngIf="!didTheDataArrive" class="loader"></div>

<div 
  class="container min-height text-center m-3" 
  *ngIf="errorMsg!=''"
>
  <h2>Si e' verificato il seguente errore:</h2>
  <h3 class="errMsg"> {{errorMsg}} </h3>
</div>

<app-list-movie 
  [fullListMovie]="fullListMovie" 
  [searchMovie]="movieToSearch" 
  (movieDetail)="showDetail($event)"
  *ngIf="isListVisible"
></app-list-movie>

<app-detail-movie 
  [detailMovie]="movieDetail" 
  [infoVideo]="videoInfo" 
  (showList)="returnToTheList()"
  (askRequiredMovie)="searchRequiredMovie($event)" 
  (askVideo)="getInfoVideo($event)"
  (movieForPurchase)="addToFavorites()" 
  *ngIf="isDetailVisible"
></app-detail-movie>